* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 10%;
}

.form-container {
	width: 70vw;
	margin: 10px auto auto auto; /* ╩С ©Л го аб */
}

form {
	display: flex;
	flex-direction: column;
}

input, textarea {
	padding: 5px;
	margin-top: 10px;
	border: solid 1px lightblue;
	outline: none;
}

input[type=submit], input[type=button] {
	cursor: pointer;
}

textarea {
	resize: none;
}